*{
  margin: 0;
  padding: 0;
}
body{
  background-color: darkcyan;
}
p {
  color: red;
}
h3{
  color: darkorchid;
}
.DEL{
  background-color: red;
}
.EDIT{
  background-color: blue;
  color: white;
}
.lolo{
  margin-top: 10px;
  border: 1px solid peru;
  background-color: chartreuse;
  width: calc(350px);
  text-align: center;
}
.inner{
  border: 1px solid black;
  color: aqua;
}